@page "/productslist"

@* Injecting system services *@
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime
@* Injecting project services *@
@inject IDonationService DonationService
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@using Presentation.Products.Components
@using Presentation.Products.Models

<link href="/css/components/Card.css" rel="stylesheet" />
<h1 style="margin-top:20px ; margin-bottom: 20px" align="center">Lista de productos</h1>

@if (_isLoading) {
    <p>Loading...</p>
}
else {
    /* The Filtrar Alergenos button it's only displayed when there's products to show */
    @if (_products != null && _products.Length() > 0) {
        <center>
            <div class="card" style="margin-bottom: 40px ; margin-top: 20px">
                   @* Allergens dropdown pannel *@
                    <div style="text-align: left">
                    <MudExpansionPanels MultiExpansion="true">
                        <MudExpansionPanel>
                            <TitleContent>
                                <div class="d-flex">
                                    <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                                    <MudText Typo="Typo.h6" Color="Color.Info">Ocultar productos con <strong>Alergenos</strong></MudText>
                                </div>
                            </TitleContent>
                            <ChildContent>
                                @foreach (var category in _categories!) {
                                    <div class="checkbox">
                                        <MudText Typo="Typo.subtitle1">
                                            <b>@category.Name</b>
                                            <img src="@category.Icon" Alt="@category.Name" Width="25" Height="25" Fluid="true" />
                                            <br>
                                            @foreach (var allergen in _allergens[category.Name]) {
                                                <MudCheckBox @bind-Checked="@boolList[allergen.Name]" Size="Size.Medium" Color="Color.Info" OnClick="apply"> </MudCheckBox>
                                                <MudTooltip Text="@allergen.Description" Arrow="true" Placement="Placement.Top">
                                                    <MudText>@allergen.Name</MudText>
                                                </MudTooltip>
                                            }
                                        </MudText>
                                    </div>
                                }
                                <div style="text-align: center">
                                    <MudContainer>
                                        <MudButton Class="mr-16" Variant="Variant.Filled" Color="Color.Dark" OnClick="cleanRestrictions">Limpiar</MudButton>
                                        <MudButton Class="ml-16" Variant="Variant.Filled" Color="Color.Info" OnClick="saveSelectedRestrictions">Aplicar</MudButton>
                                    </MudContainer>
                                </div>
                            </ChildContent>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                    </div>
            </div>
         </center>
        @* Display products *@
        @foreach (var productList in _products)
        {
            foreach (var product in productList)
            {
                ProductModel Modelo = new ProductModel(product.Id, product.Name,
                    product.FoodType, product.ProductType, product.Quantity, product.Weight,
                    product.Brand!, product.ExpirationDate , product.Restrictions.ToList(), product.Image!, product.DonationId);
                if (applyFilters(product) == true) 
                {
                    <center>
                        <ProductCard Product="@Modelo"></ProductCard>
                    </center>
                }
            }
        }
    } else
    {
        <center>
            <div>
                <MudButton Color="Color.Error">No hay productos disponibles </MudButton>
            </div>
         </center>
    }
}
